@import "tailwindcss";

@media print {
  .no-print {
    display: none !important;
  }
  
  body, .print-container {
    background-color: white !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  @page {
    margin: 20mm;
    size: auto;
  }
}
